:root {
    --Karla: 'Karla', sans-serif;
    --DM-Serif-Display: 'DM Serif Display', serif;

    /* Primary */

    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);

    /* Neutral */

    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-family: var(--Karla);
}

header{
    display: flex;
    margin: 20px 0;    
    padding: 0 100px;
    align-items: center;    
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 3px;
}

.nav-bar-list ul {
    display: inline-flex;
    list-style-type: none;
}

.nav-bar-list ul a {
    height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-bar-list ul li {
    font-size: 13px;
    font-weight: 700;
    color: var(--Grayish-Blue);
    transition: 1s;
}

.nav-bar-list ul li:hover {
    color: var(--Very-Dark-Violet);
    transition: 1s;
}

.nav-bar-list ul a:nth-child(2) {
    margin: 0 20px;    
}

.nav-bar-list ul a:nth-child(3) {
    margin-right: 20px;
}

.plans {
    padding: 10px 25px 10px 25px;
    border: 2px solid var(--Very-Dark-Violet);
    text-decoration: none;
    color: var(--Very-Dark-Violet);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.plans:hover {
    padding: 10px 25px 10px 25px;
    background-color: var(--Very-Dark-Violet);
    text-decoration: none;
    color: var(--Grayish-Blue);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

/* Fim do header */

.first-section {
    display: flex;
    font-family: var(--DM-Serif-Display);
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    padding: 130px 100px;
}

hr {
    width: 200px;
    margin: 0;
}

h2 {
    font-size: 78px;
    margin-top: 70px;
}

.section-box p {
    font-family: var(--Karla);
    margin: 30px 0;
}

.section-box button {
    padding: 10px 25px 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.section-box button:hover {
    padding: 10px 25px 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Violet);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.intro-img {
    width: 550px;
    position: absolute;
    right: 140px;
}

.ripples-right {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 64px;
}

.ripples-left {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 528px;
}

.section-different {
    font-family: var(--DM-Serif-Display);
    padding: 130px 100px;
    display: block;
    color: var(--Very-Dark-Violet);
    margin-top: 180px;
    font-weight: 700;
}

.section-different h3 {
    font-size: 78px;
    margin-top: 60px;
}

.section-differentials {
    display: flex;
    justify-content: space-between;
}

.section-differentials img {
    margin-top: 60px;
    margin-bottom: 30px;
}

.section-differentials h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.section-differentials p {
    font-family: var(--Karla);
    color: var(--Dark-Grayish-Violet);
}

.section-know-more {
    font-family: var(--DM-Serif-Display);
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    margin: 0 100px 150px;
}

.section-know-more-box {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

h5 {
    margin: 70px 0;
    font-size: 55px;
    font-weight: 700;
}

.section-know-more div img {
    position: absolute;
    right: 100px;
    top: 1551px;
}

.section-know-more div button {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Dark-Violet);
    background-color: transparent;
    text-decoration: none;
    color: var(--Very-Light-Gray);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
    transition: .5s;
}

.section-know-more div button:hover {
    padding: 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Very-Light-Gray);
    text-decoration: none;
    color: var(--Dark-Violet);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.section-know-more-button {
    display: flex;
    align-items: center;
}

footer {
    padding: 50px 100px;
    background-color: var(--Very-Light-Gray);
}

.footer-logo {
    z-index: 1;
}

.footer-img {
    position: absolute;
    left: 0;
    top: 1950px;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon-bar {
    display: flex;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .facebook {    
    padding: 3px 2px 0 8px;
    margin: 5px 5px;
    background: var(--Grayish-Blue);
    color: var(--Very-Light-Gray);
  }

  .facebook:hover {
    background-color: var(--Very-Dark-Violet);
  }
  
  .twitter {
    padding: 2px 2px 0 2px;
    margin: 5px 5px;
    background: var(--Very-Light-Gray);    
    color: var(--Grayish-Blue);
  }

  .twitter i:hover {
    color: var(--Very-Dark-Violet);
  }
  
  .pinterest {
    padding: 2px 2px 0 2px;
    margin: 5px 5px;
    background: var(--Very-Light-Gray);
    color: var(--Grayish-Blue);
  }

  .pinterest:hover {
    color: var(--Very-Dark-Violet);
  }
  
  .instagram {
    padding: 2px 2px 0 2px;
    margin: 5px 5px;
    background: var(--Very-Light-Gray);
    color: var(--Grayish-Blue);
  }

  .instagram:hover {
    color: var(--Very-Dark-Violet);
  }

  .footer-hr {
    width: 100%;
  }
  
  .links {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    color: var(--Dark-Grayish-Violet);
    padding-top: 30px;
  }

  .links-list {
    z-index: 1;
  }

  .links div {
    margin-right: 150px;
  }

  .links ul {
    width: 120px;
    margin-top: 30px;
  }

  .links li {
    margin-bottom: 20px;
  }

  .links a {    
    text-decoration: none;
    color: var(--Very-Dark-Violet);
    font-weight: 700;
  }

  .links a:hover {
    text-decoration: underline;
    color: var(--Very-Dark-Violet);
    font-weight: 700;
  }

  @media screen and (max-width: 375px) {
    .nav-bar-list {
        display: none;
    }

    .ripples-right {
        display: none;
    }
    
    .ripples-left {
        display: none;
    }

    .footer-img {
        display: none;
    }

    .section-know-more div img {
        display: none;
    }

    .footer-box {
        display: block;
    }

    .links {
        display: block;
    }



  }
