:root {
    --Karla: 'Karla', sans-serif;
    --DM-Serif-Display: 'DM Serif Display', serif;

    /* Primary */

    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);

    /* Neutral */

    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    --Side-bar: hsl(266, 8%, 17%);
}

body {
    font-family: var(--Karla);
}

.header-desktop{
    display: flex;
    margin: 20px 0;    
    padding: 0 100px;
    align-items: center;    
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
}

.logo-desktop {
    margin-top: 3px;
}

.logo-mobile {
    display: none;
}

.list-link {
    padding-right: 40px;
}

.list-link-a {
    margin: 0 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Grayish-Blue);
    font-weight: 700;
    transition: 1s;
}

.list-link-a:hover {    
    color: var(--Very-Dark-Violet);
    transition: 1s;
}

.list-link-button {
    padding: 12px 35px;
    text-transform: uppercase;
    background-color: var(--Very-Light-Gray);
    border: 1px solid var(--Grayish-Blue);
    color: var(--Grayish-Blue);
    transition: 1s;
}

.list-link-button:hover {
    padding: 12px 35px;
    text-transform: uppercase;
    background-color: var(--Very-Dark-Violet);
    border: 1px solid var(--Very-Dark-Violet);
    color: var(--Very-Light-Gray);
    transition: 1s;
}

.list-link-ripples {
    display: none;
}

/* Fim do header */

.first-section {
    display: flex;
    font-family: var(--DM-Serif-Display);
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    padding: 130px 100px;
}

hr {
    width: 200px;
    margin: 0;
}

h2 {
    font-size: 78px;
    margin-top: 70px;
}

.section-box p {
    font-family: var(--Karla);
    margin: 30px 0;
    line-height: 25px;
}

.section-box button {
    padding: 10px 25px 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.section-box button:hover {
    padding: 10px 25px 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Violet);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.intro-img {
    width: 550px;
    position: absolute;
    right: 140px;
}

.intro-img-mobile {
    display: none;
}

.ripples-right-desktop {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 81px;
}

.ripples-right-mobile {
    display: none;
}

.ripples-left-desktop {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 621px;
}

.ripples-left-mobile {
    display: none;
}

.section-different {
    font-family: var(--DM-Serif-Display);
    padding: 130px 100px;
    display: block;
    color: var(--Very-Dark-Violet);
    margin-top: 180px;
    font-weight: 700;
}

.section-different h3 {
    font-size: 78px;
    margin-top: 60px;
}

.section-differentials {
    display: flex;
    justify-content: space-between;
}

.section-differentials img {
    margin-top: 60px;
    margin-bottom: 30px;
}

.section-differentials h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.section-differentials p {
    font-family: var(--Karla);
    color: var(--Dark-Grayish-Violet);
}

.section-know-more {
    font-family: var(--DM-Serif-Display);
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    margin: 0 100px 150px;
}

.section-know-more-box {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

h5 {
    margin: 70px 0;
    font-size: 55px;
    font-weight: 700;
}

.section-know-more div img {
    position: absolute;
    right: 100px;
    top: 1595px;
}

.section-know-more div button {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Dark-Violet);
    background-color: transparent;
    text-decoration: none;
    color: var(--Very-Light-Gray);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
    transition: .5s;
}

.section-know-more div button:hover {
    padding: 10px 25px;
    border: 2px solid var(--Very-Light-Gray);
    background-color: var(--Very-Light-Gray);
    text-decoration: none;
    color: var(--Dark-Violet);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.section-know-more-button {
    display: flex;
    align-items: center;
}

footer {
    padding: 50px 100px;
    background-color: var(--Very-Light-Gray);
}

.footer-logo {
    z-index: 1;
}

.footer-img {
    position: absolute;
    left: 0;
    top: 1993px;
}
    
    .footer-img-mobile {
        display: none;
    }

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon-bar {
    display: flex;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .facebook {    
    padding: 3px 2px 0 8px;
    margin: 5px 5px;
    background: var(--Grayish-Blue);
    color: var(--Very-Light-Gray);
  }

  .facebook:hover {
    background-color: var(--Very-Dark-Violet);
  }
  
  .twitter {
    padding: 2px 2px 0 2px;
    margin: 5px 5px;
    background: var(--Very-Light-Gray);    
    color: var(--Grayish-Blue);
  }

  .twitter i:hover {
    color: var(--Very-Dark-Violet);
  }
  
  .pinterest {
    padding: 2px 2px 0 2px;
    margin: 5px 5px;
    background: var(--Very-Light-Gray);
    color: var(--Grayish-Blue);
  }

  .pinterest:hover {
    color: var(--Very-Dark-Violet);
  }
  
  .instagram {
    padding: 2px 2px 0 2px;
    margin: 5px 5px;
    background: var(--Very-Light-Gray);
    color: var(--Grayish-Blue);
  }

  .instagram:hover {
    color: var(--Very-Dark-Violet);
  }

  .footer-hr {
    width: 100%;
  }
  
  .links {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    color: var(--Dark-Grayish-Violet);
    padding-top: 30px;
  }

  .links-list {
    display: flex;
    justify-content: flex-start;
    z-index: 1;
  }

  .links div {
    display: block;
    margin-right: 150px;
    justify-content: flex-start;
  }

  .links ul {
    display: block;
    margin-top: 30px;
    justify-content: flex-start;
  }

  .links li {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
  }

  .links a {    
    text-decoration: none;
    color: var(--Very-Dark-Violet);
    font-weight: 700;
  }

  .links a:hover {
    text-decoration: underline;
    color: var(--Very-Dark-Violet);
    font-weight: 700;
  }

@media screen and (max-width: 480px) {
    .header-desktop{
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
        padding: 0;
    }

    .menu-hamburger {
        display: flex;
    }

    #toggle {
        position: relative;
        width: 35px;
        height: 35px;
        background-color: var(--Very-Light-Gray);
        border: 1px solid var(--Very-Dark-Violet);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }

    

    #toggle::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: var(--Very-Dark-Violet);
        transition: 0.5s;
        transform: translatey(-8px);
        box-shadow: 0 8px 0 var(--Very-Dark-Violet);
    }

    #toggle.active::before {
        transform: translatey(0px) rotate(45deg);
        box-shadow: 0 0 0 var(--Very-Dark-Violet);
    }

    #toggle::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: var(--Very-Dark-Violet);
        transition: 0.5s;
        transform: translatey(8px);
    }

    #toggle.active::after {
        transform: translatey(0px) rotate(-45deg);
    }

    .nav-bar-list {
        display: flex;
        position: absolute;
        top: 77px;
        left: 480px;
        background-color: var(--Side-bar);
        width: 480px;
        height: 577px;
        right: -480px ;
        transition: 1s;
    }

    .nav-bar-list-ativo {
        display: flex;
        position: absolute;
        top: 77px;
        left: 0px;
        background-color: var(--Side-bar);
        width: 480px;
        height: 577px;
        transition: 1s;
    }

    .list-link {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 50px auto;
        font-size: 20px;
        text-transform: uppercase;        
        padding-right: 0;
    }

    .list-link-a {
        margin-bottom: 30px;
        text-decoration: none;
        color: var(--Very-Light-Gray)
    }

    .list-link-button {
        font-size: 20px;
        background-color: transparent;
        color: var(--Very-Light-Gray);
        border: 1px solid var(--Very-Light-Gray);
        font-weight: 700;
        padding: 15px 110px;
        z-index: 1;
    }

    .list-link-ripples {
        width: 480px;
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .intro-img {
        display: none;
    }

    .intro-img-mobile {
        width: 100%;
        display: block;
    }

    hr {
        display: none;
    }

    .first-section {
        padding: 90px 26px;
    }

    h2 {
        font-size: 50px;
        text-align: center;
        margin-top: 0;
    }

    br {
        display: none;
    }

    p {
        text-align: center;
        line-height: 25px;
    }

    .ripples-right-desktop {
        display: none;
    }

    .intro-button {
        text-align: center;
    }

    .ripples-left-mobile {
        position: absolute;
        left: 0;
        top: 523px;
    }
    
    .ripples-left-desktop {
        display: none;
    }

    .ripples-right-mobile {
        position: absolute;
        right: 0;
        top: 880px;
    }

    .section-different {
        margin: 40px 0;
        padding: 30px;
    }

    .section-differentials {
        display: block;
        text-align: center;
    }

    .hr-section-different {
        width: 100px;
    }

    .section-different h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        margin-top: 60px;
    }

    .section-know-more {
        margin: 0px 25px 85px;
    }
    
    .section-know-more-box {
        display: block;
        padding: 50px 30px;        
    }

    h5 {
        margin: 0 0 50px;
    font-size: 43px;
    font-weight: 700;
    text-align: center;
    }

    .section-know-more-button {
        display: flex;
        justify-content: center;
    }

    footer {
        padding: 50px 60px;
        background-color: var(--Very-Light-Gray);
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        z-index: 1;
    }

    .footer-img-mobile {
        display: flex;
        position: absolute;
        left: 0;
        top: 2613px;
    }

    .icon-bar {
        display: flex;
        justify-content: center;
    }

    .icon-bar a {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    .icon-bar a {
        z-index: 1;
    }

    .links div {
        margin-right: 0;
        text-align: center;
    }

    .links ul {
        margin-top: 30px;
        text-align: center;
    }  
    
    .links li {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .links-list {
        margin-bottom: 40px;
        z-index: 1;
    }

    .footer-img {
        display: none;
    }

    .section-know-more div img {
        display: none;
    }

    .footer-box {
        display: block;
    }

    .links {
        display: block;
    }



  }
